.container {
    width: 500px;
    clear: both;
    align: right;
}
.container input {
    width: 100%;
    clear: both;
}
form, ul, li, input, label {
    box-sizing: border-box;
    display: block;
}



ul {
    background-color: #fffdfa;;
    border: 5px solid #888888;
    list-style-type: none;
    margin: 3em auto;
    padding: 0;
    width: 350px;
}

